<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-6 col-md-4 footer-div">
                <hr class="light">
                <h4 class="footer-headings">SOCIAL MEDIA</h4>
                <hr class="light">
                <p *ngFor='let items of socialMediaList'>{{items}}</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 footer-div">
                <hr class="light">
                <h4 class="footer-headings">HELP</h4>
                <hr class="light">
                <p *ngFor='let items of helpList'>{{items}}</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 footer-div">
                <hr class="light">
                <h4 class="footer-headings">POLICY</h4>
                <hr class="light">
                <p *ngFor='let items of policyList'>{{items}}</p>
            </div>
            
            <div class="col-12">
                <hr class="light">
                <h4>&copy; Shopping.com</h4>
            </div>
        </div>
    </div>
</footer>
