.container{
    h1{
        font-size: 2.5rem;
        font-weight: bolder;
        color: #303F9F;
    }
    h2{
        font-size: 2rem;
        font-weight: bolder;
        color: #303F9F;
    }
    mat-horizontal-stepper{
        mat-card{
            box-shadow: .1rem .1rem 1rem black;
            background: #303F9F;
            span{
                color: white;
            }
            mat-card-header{
                p{
                    font-size: 1.5rem;
                    font-weight: bolder;
                    color: white;
                    @media(max-width: 1000px){
                        font-size: 1rem;
                    }
                    @media(max-width: 770px){
                        font-size: 1.5rem;
                    }
                }
            }
            mat-card-content{
                img{
                    height: 50% !important;
                    width: 50% !important;
                }
                p{
                    font-size: 1rem;
                    font-weight: bolder;
                    color: white;
                    @media(max-width: 1000px){
                        font-size: 0.8rem;
                    }
                    @media(max-width: 770px){
                        font-size: 1rem;
                    }
                }
            }
        }
        .button{
            button{
                width: 10rem;
            }
        }
    }
}