<div class="backgroundImage d-flex flex-column justify-content-center align-items-center">
    <h1>Welcome to Shopping.Com</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, quidem.</p>
    <button class="btn btn-success" (click)='navigation()'>Shop Here</button>
</div>
<div class="serviceArea">
    <div class="container padding">
        <div class="row">
            <div class="col-md-4 text-center py-5 my-5">
                <img src="../../assets/images/globe2.svg" alt="not loaded">
                <h5 class="font-weight-bold text-uppercase">
                    Worldwide shipping
                </h5>
                <p class="text-capitalize px-2">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, natus!
                </p>
            </div>
            <div class="col-md-4 text-center py-5 my-5">
                <img src="../../assets/images/patch-check-fill.svg" alt="not loaded">
                <h5 class="font-weight-bold text-uppercase">
                    Certified brand
                </h5>
                <p class="text-capitalize px-2">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, natus!
                </p>
            </div>
            <div class="col-md-4 text-center py-5 my-5">
                <img src="../../assets/images/cash.svg" alt="not loaded">
                <h5 class="font-weight-bold text-uppercase">
                    30 days money back
                </h5>
                <p class="text-capitalize px-2">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, natus!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="exclusiveproducts">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col-10 mx-auto col-sm-6 text-center">
                <h2 class="text-capitalize product-title">
                    Exclusive products
                </h2>
            </div>
        </div>
        <div class="row product-items" >
            <div class="col-md-4 col-sm-6 mx-auto my-3" >
                <div class="card single-item">
                    <div class="img-container" (click)='navigation()'>
                        <img src="../../assets/images/oppo.jpg" alt="Not loaded" class="card-img-top product-img">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5>Oppo</h5>
                            <span><strong>$</strong>200</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mx-auto my-3" >
                <div class="card single-item">
                    <div class="img-container" (click)='navigation()'>
                        <img src="../../assets/images/phone.jpg" alt="Not loaded" class="card-img-top product-img">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5>Nokia</h5>
                            <span><strong>$</strong>200</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mx-auto my-3" >
                <div class="card single-item">
                    <div class="img-container" (click)='navigation()'>
                        <img src="../../assets/images/nokia.png" alt="Not loaded" class="card-img-top product-img">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5>Nokia</h5>
                            <span><strong>$</strong>200</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mx-auto my-3" >
                <div class="card single-item">
                    <div class="img-container" (click)='navigation()'>
                        <img src="../../assets/images/nokia.png" alt="Not loaded" class="card-img-top product-img">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5>Nokia</h5>
                            <span><strong>$</strong>200</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mx-auto my-3" >
                <div class="card single-item">
                    <div class="img-container" (click)='navigation()'>
                        <img src="../../assets/images/nokia.png" alt="Not loaded" class="card-img-top product-img">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5>Nokia</h5>
                            <span><strong>$</strong>200</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mx-auto my-3" >
                <div class="card single-item">
                    <div class="img-container" (click)='navigation()'>
                        <img src="../../assets/images/nokia.png" alt="Not loaded" class="card-img-top product-img">
                    </div>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-between text-capitalize">
                            <h5>Nokia</h5>
                            <span><strong>$</strong>200</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>